firmware/
.pc/
libwrt/
test/
imm-798x-23/
imm-mt798x/
imm-nss/
imm-x64/
lede/
libwrt-k612/
immortalwrt/
compilecfg/test.ini
deconfig/test.config
*.swp
.vscode/settings.json
deconfig/*.bak
test.sh
domain_rule.json
01-install.sh
reality_server.json
xray-client.json
xray-server.json
.clineignore
update.sh.bak
dts/
deconfig/redmi_ax6_nwrt.config
compilecfg/redmi_ax6_nwrt.ini
compilecfg/jdcloud_ax1800pro_nwrt.ini
deconfig/jdcloud_ax1800pro_nwrt.config
compilecfg/jdcloud_ax3000_nwrt.ini
compilecfg/link_nn6000v2_nwrt.ini
deconfig/jdcloud_ax3000_nwrt.config
deconfig/link_nn6000v2_nwrt.config
deconfig/aliyun_ap8220_nwrt.config
compilecfg/aliyum_ap8220_nwrt.ini
.env
.taskmaster/
